In [12]:
import pandas as pd, json, requests

In [27]:
df=pd.read_excel('lmregtabli01february20217.xls',sheet_name='LI01',skiprows=6)

In [10]:
#https://data.gov.uk/dataset/24d87ad2-0fa9-4b35-816a-89f9d92b0042/local-authority-districts-april-2020-names-and-codes-in-the-united-kingdom
# http://geoportal1-ons.opendata.arcgis.com/datasets/fe6bcee87d95476abc84e194fe088abb_0.geojson
# http://geoportal1-ons.opendata.arcgis.com/datasets/fe6bcee87d95476abc84e194fe088abb_0.csv
#https://geoportal.statistics.gov.uk/search?collection=Dataset&sort=name&tags=all(BDY_LAD)

In [16]:
#Download shapefile
#BGC - larger detail
#BUG - small detail

In [17]:
#Mapshaper ->geojson, topojson export
#https://mapshaper.org/

In [18]:
topo=json.loads(open('geo/Local_Authority_Districts__April_2019__UK_BUC_v2.topo.json','r').read())

In [28]:
df.dropna()

,Unnamed: 0,Unnamed: 1,16-64 (000s),Total 16+ (000s),16-64 Rate (%),Total 16+ (000s).1,Rate4 (%),Total 16-64 (000s),16-64 Rate (%),Level,Proportion6 (%),Total (000s),Jobs Density 16-64 (ratio),Resident\n(£),Workplace\n(£),Unnamed: 15
6,E92000001,ENGLAND,35116566.0,27613477,75.964451,1231634,4.269819,7176271,20.56558,1594499.0,4.500000,30999000.0,0.88,589.8,589.9,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,E12000001,NORTH EAST,1660646.0,1204462,71.481274,79731,6.208646,387485,23.726365,97487.0,5.900000,1224000.0,0.74,523.5,521.4,North East
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North East
10,E06000047,County Durham,328496.0,239930,71.88,13400,5.2,74911,23.139676,17031.0,5.184538,206000.0,0.63,520.1,486.5,North East
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,NaN,Quality indicator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,NaN,Shaded Annual Population Survey estimates are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,NaN,Unshaded Annual Population Survey estimates ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,NaN,† - Annual Population Survey (APS) responses a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN